<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?php echo base_url(); ?>vendor/bootstrap.css">
	<link rel="stylesheet" href="<?php echo base_url(); ?>vendor/font-awesome.css">
 	<link rel="stylesheet" href="<?php echo base_url(); ?>1.css">
 	<link rel="stylesheet" href="<?php echo base_url(); ?>vendor/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.nhadat.net/public/frontend/font-awesome-4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.nhadat.net/public/frontend/css/product.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.nhadat.net/public/frontend/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.nhadat.net/public/frontend/css/banner/lightcase/lightcase.css" />
	<title>Document</title>
</head>
<body ng-app="myApp" ng-controller="MyController" ng-init='abc="giatri"'>
	<input type="text" ng-model="giatri">
	<h2 class="text-xs-center display-3">{{giatri}}</h2>
	<hr>
	<div class="container">
		<div class="jumbotron" ng-hide="{{abc}}">
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="m-y-md">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>
	</div>
	
	
	<h1>{{thamso}}</h1>
	<input type="text" class="form-control" ng-model="thamso">
	
	<button class="btn btn-info" ng-click="a2()">CLick here</button>



	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/angular-1.5.min.js"></script>  
  	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="<?php echo base_url(); ?>vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="<?php echo base_url(); ?>1.js"></script>
</body>

</html>